body {
  background-color: #5e936c;
  display: flex;
  flex-direction: column;
  padding-bottom: 10%;
}

header {
  background-color: #3e5f44;
  box-shadow: 1px 1px 20px black;

  display: flex;
  justify-content: space-around;
}

/* navigation buttons */
nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* navigation links */
nav > a {
  text-decoration: none;
  color: #93da97;
  font-size: 1.4rem;
  font-family: "Sansation", sans-serif;
  font-weight: 300;
}

main {
  background-color: #3e5f44;
  text-align: center;
  margin: 5% 10vw;
  box-shadow: 1px 1px 20px black;
  height: auto;
}

/* images under main */
main > img {
  border-radius: 10px;
  width: 20%;
  height: auto;
  box-shadow: 1px 3px 19px black;
  margin-bottom: 3%;
  margin-left: 1%;
}

form {
  background-color: #3e5f44;
  text-align: center;
  margin: 5% 10vw;
  box-shadow: 1px 1px 20px black;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

input,
textarea {
  width: 45%;
  background-color: #5e936c;
  color: #93da97;
  border-radius: 4px;
  border-style: double;
  font-size: 1.2rem;
}

input::placeholder,
textarea::placeholder {
  color: #93da97;
}


/* Submit button */
button { 
  margin-bottom: 3%;
  background-color: #93da97;
  border-radius: 10px;
  border-style: outset;
  color: #3e5f44;
  padding: 7px 17px;
  font-size: 16px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: green; /* Green */
}

footer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: #3e5f44;
  box-shadow: 1px 1px 20px black;
  position: fixed;
  bottom: 0;
  padding: 2% 0;
  width: 100vw;
}

h1 {
  font-family: "Sacramento", cursive;
  font-size: 4rem;
  color: #6dbf71;
  font-weight: 300;
  margin-top: 40px;
  padding-top: 40px;
}

h2 {
  color: #6dbf71;
  font-family: "Sansation", sans-serif;
  font-size: 2rem;
  font-weight: normal;
}

h3 {
  color: #6dbf71;
  font-family: "Sansation", sans-serif;
  font-size: 1.7rem;
  font-weight: lighter;
  padding: 40px 40px;
  width: inherit;
}

/* footer links */
footer a {
  text-decoration: none;
  color: #93da97;
  font-size: 1.3rem;
  font-family: "Sansation", sans-serif;
  font-weight: 300;
}

/* social media icons */
.media-link {
  width: 3%;
  /* width: 3rem; */
}

.my-picture {
  border-radius: 50%;
  width: 10%;
  box-shadow: 1px 3px 19px black;
}

/* separator between links */
.separator {
  font-size: 2rem;
  color: #e8ffd7;
}

/* hover behavior for all links */
a:hover {
  color: #e8ffd7;
}

/* rearrange content for bigger screens */
@media (width > 1700px) {
  body,
  footer {
    width: 50vw;
  }
  body {
    padding-left: 25%;
  }
}
